footer {
    background-color: #6278F7;
    color: #FFF;
    display: flex;

    justify-content: space-around;
    align-items: center;
    height: 15vh;
    margin-top: 210px;
}

.social-icons img {
    margin-right: 35px;
}

#logo,
#developed-by {
    max-width: 30vh;
}